.header {
    background-color: #f3f5f7;
    padding: 25px;
    box-shadow: 0 2px 5px 0 gray;
    letter-spacing: 4px;
}
.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
