.navbar-brand {
    letter-spacing: 4px;
    font-family: 'Roboto'
}
.nav-item {
    font-size: 12px;
}

/* @media only screen and (max-width: 576px) {
    .navbar-nav{
        display: none !important;
    }
}
 */
