<li class="list-group-item mb-3">
        <div class="row">
            <div class="col-3 card-img">
                <div [style.backgroundImage]="'url('+ newsItem.urlToImage +')'" *ngIf="newsItem.urlToImage" class="img"></div>
            </div>
            <div class="col-9">
                <h6>{{newsItem.title}}</h6>
                <small class="text-secondary">
                    <span *ngIf="newsItem.author" >by {{newsItem.author}}</span>
                    <span *ngIf="newsItem.publishedAt">
                        <span *ngIf="newsItem.author"> | </span>
                        {{newsItem.publishedAt | date :'short'}}
                    </span>
                </small>
                <p class="desc">{{newsItem.description}}</p>
            </div>
        </div>
    </li>
